<template>
  <div id="app">
    <section class="fdb-block" style="background-image: url(static/bg.svg)">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-left">
            <div class="row">
              <div class="col">
                <h1>Vue Email Validation</h1>
                <p class="text-h3">Enter test email</p>
              </div>
            </div>
            <div class="row">
              <div class="col mt-4">
                <validated-input-email
                  id= "test"
                  placeholder= "Enter email"
                  filter-top-level-domain= true
                  filter-temp-email-providers= true
                  :whitelisted-domains= "whitelisted_domains"
                  :blocked-domains= "blocked_domains"
                  v-on:response= "validateResponse"
                  ></validated-input-email>
                  <small class="has-error" v-if="response.status_code > 0">{{response.status_message}}</small>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <!-- <b-form-input type="password"
                              v-model="form.password"
                              required
                              placeholder="Password">
                </b-form-input> -->
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <button class="btn" type="button">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import ValidatedInputEmail from './components/ValidatedInputEmail'

export default {
  name: 'App',
  components: {
    ValidatedInputEmail
  },
  data () {
    return {
      whitelisted_domains: ['1to1mail.org', 'asd234.com'],
      blocked_domains: ['gmail.com'],
      response: {},
      form: {
        email: '',
        /*password: ''*/
      }
    }
  },
  methods: {
    validateResponse (response) {
      console.log(response)
      this.response = response
      this.form.email = response.email
    }
  }
}
</script>

<style src="./assets/scss/froala_blocks.scss" lang="scss"></style>
